<div class="alert alert-info alert-dismissible show fade">
    {% block content %}{% endblock %}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
