<div class="modal fade text-left" id="{{ modalId }}" tabindex="-1" role="dialog"
     aria-labelledby="{{ modalId }}-label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="{{ modalId }}-label">{% block modal_form_title %}{% endblock %}</h4>
                <button type="button" class="close" data-bs-dismiss="modal"
                        aria-label="Close">
                    <i class="bi bi-x"></i>
                </button>
            </div>
            {% block modal_form_body %}{% endblock %}
        </div>
    </div>
</div>
