<form method="post" class="justify-content-start" action="{{ path('company_delete', {'id': company.id}) }}" onsubmit="return confirm('Etes-vous sur de supprimer cette société ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ company.id) }}">
    <button class="btn btn-danger">{{ 'admin.company.button.delete'|trans }}</button>
</form>
