{% extends 'base_login.html.twig' %}

{% block title %}{{ 'signup.title'|trans }}{% endblock %}

{% block body %}
    <h1 class="auth-title">{{ 'signup.title'|trans }}</h1>
    <p class="auth-subtitle mb-5">{{ 'signup.success'|trans }}</p>
{% endblock %}
